name: ci

# workflow triggers
on:
  push:
    branches:
      - '**' # every branch
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  formatter:
    # formatter is not needed in schedule runs
    # it is more important when code is changed
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.6"
      - name: code formatter
        run: |
          uv venv
          source .venv/bin/activate
          uv pip install ruff
          ruff check .
          ruff check tests/

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.6"
      - name: install packages
        run: |
          uv venv
          source .venv/bin/activate
          uv pip install -r requirements-dev.txt
      - name: unittest
        run: |
          source .venv/bin/activate
          python -m unittest discover -b

  run-code:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.6"
      - name: install packages
        run: |
          uv venv
          source .venv/bin/activate
          uv pip install -r requirements.txt
      - name: run-code
        run: |
          source .venv/bin/activate
          python main.py
